* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* scroll-behavior: smooth; */
  color: var(--color);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
}

body {
  font-family: var(--font-family);
  
}
nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3rem;
  background-color: var(--bg-color);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  height: 13vh;
}
nav h1 {
  color: var(--primary-color);
}

nav a {
  color: var(--primary-color);
  transition: var(--transition);
}
nav a:hover {
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
}

nav ul {
  display: flex;
  gap: 1.9rem;
}

nav ul li {
  font-weight: var(--bold-font);
}
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    max-width: 68.75rem;
    margin: auto;
    padding: 2rem 2rem;
    height: 90vh;
}
.hero img {
    height: 17rem;
    width: 22rem;
    box-shadow: 0px 2px 15px 2px var(--primary-shadow);
    border-radius: 4px;
    transform: translateX(-200%);
    animation: entrence 0.5s ease-in 0.1s 1 forwards;
  }
  
  .bio {
    width: 25rem;
    padding: 0.625rem;
    border-radius: 6px;
    box-shadow: 0px 2px 10px 2px var(--primary-shadow);
    transform: translateX(200%);
    animation: entrence 0.5s ease-in 0.5s 1 forwards;

  }
  
  .bio h2 {
    margin-bottom: var(--bottom-margin);
  }
  
  .bio p {
    line-height: var(--line-height);
    padding: 0.3rem 0;
  }
  .more-about {
    background-color: var(--bg-color);
    padding: 1rem 6rem;
    height: 90vh;
  }
  .more-about-box{
    height: 100%;
  }
  
  .more-about h2 {
    margin-bottom: var(--bottom-margin);
    text-align: center;
  }
  
  .more-about p {
    line-height: var(--line-height);
    padding: 0.4rem;
  }
  .cv-btn {
    border: var(--secondary-color) solid 2px;
    border-radius: 5px;
    text-align: center;
    width: 30%;
    margin: auto;
    /* height: 2rem; */
    padding: 0.5rem 0;
  }
  .skills {
    max-width: 68.75rem;
    margin: auto;
    text-align: center;
    margin-top: 2.5rem;
  }
  
  .header-skills {
    margin-bottom: 1rem;
  }
  
  .skills-box img {
    padding: 1.25rem;
  }
  .projects {
    background-color: var(--bg-color);
    padding: 32px 0;
    margin-top: 2rem;
  }
  
  .projects-pic {
    width: 65%;
    height: 60%;
  }
  
  .projects-box {
    display: flex;
    align-items:center;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    padding: 1rem;
  }
  .projects-title {
    text-align: center;
    margin: 1rem 0;
  }
  .contact {
    margin-top: 2rem;
  }
  
  .contact h2 {
    text-align: center;
    margin-bottom: var(--bottom-margin-2);
  }
  
  .contact-box {
    max-width: 40.75rem;
    margin: 0 auto 3rem auto;
    padding: 0.938rem;
    border-radius: 5px;
    box-shadow: 0 3px 10px var(--secondary-shadow);
  }
  .contact-box label {
    line-height: 2.7em;
    font-weight: var(--bold-font);
    color: var(--primary-color);
  }
  
  .contact-box textarea {
    min-height: 6.25rem;
    font-size: 14px;
  }
  
  .contact-box .input-field {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    /* border: none; */
    border: 2px solid var(--primary-color);
    font-size: 0.875rem;
    outline: none;
  }
  .input-field::placeholder {
    padding: 0.5rem;
    color: var(--secondary-color);
  }
  .submit-btn {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #fff;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    font-size: 1rem;
    font-weight: var(--bold-font);
    transition: var(--transition);
    color: #5b5a5a;
  }
  .submit-btn:hover {
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    cursor: pointer;
  }
  .socials {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 1%;
    bottom: 50%;
  }
  
  .socicon {
    width: 2rem;
    height: 2rem;
  }
  .arrow-up {
    position: fixed;
    right: 0.5%;
    bottom: 3%;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    animation: growing 0.5s infinite alternate-reverse;
  }

