/* <----- tablets -----> */

@media screen and (max-width: 768px) {
  nav {
    padding: 1rem 0.5rem;
  }
  nav ul {
    position: fixed;
    background-color: var(--bg-color);
    flex-direction: column;
    top: 86px;
    left: 10%;
    width: 80%;
    text-align: center;
    transform: translateX(120%);
    transition: transform 0.5s ease-in;
  }

  nav ul li {
    margin: 8px;
  }
  .burger-menu {
    display: block;
  }
  .hero {
    flex-direction: column;
    gap: 1rem;
  } 
  .hero img {
    height: 13rem;
    width: 15rem;
  }
  .bio {
    width: 100%;
  }
  .more-about {
    padding: 1rem 1rem;
    text-align: center;
  }
  .icon {
    width: 5.875rem;
    height: 5.25rem;
  }
  .projects-box {
    flex-direction: column;
  }

  .project-box {
    width: 16rem;
  }
  .contact-box {
    max-width: 23.75rem;
  }
}
