/* <----- tablets -----> */

@media screen and (max-width: 800px) {
  nav {
    padding: 1rem 0.5rem;
  }
  nav > ul {
    transform: translateX(120%);
    transition: transform 0.2s ease-in;
    visibility: hidden;
  }
  .menu-wrap ul {
    flex-direction: column;
  }

  .menu-wrap {
    visibility: visible;
  }
  .menu-wrap .menu {
    visibility: visible;
    overflow: visible;
  }
  .hero {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .hero img {
    height: 13rem;
    width: 15rem;
  }
  .bio {
    width: 85%;
  }
  .more-about {
    padding: 0.5rem 2rem;
    text-align: center;
  }
  .more-about p {
    font-size: smaller;
  }
  .icon {
    width: 5.875rem;
    height: 5.25rem;
  }
  .projects-box {
    flex-direction: column;
  }

  .project-box {
    width: 16rem;
  }
  .contact-box {
    max-width: 23.75rem;
  }
}
@media screen and (max-width: 420px) {
  .hero img {
    height: 10rem;
    width: 8rem;
  }
  nav > h2 {
    font-size: 12px;
    width: 30%;
    /* display: inline-block; */
  }
  .bio {
    width: 90%;
  }
  .bio-title {
    font-size: 10px;
  }
  .more-about {
    width: 100%;
    padding: 1rem 2.5rem;
  }
  .more-about p {
    line-height: 2rem;
  }

  .skills-box {
    max-width: 100%;
  }
}
