@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

:root {
  --font-family: "Roboto", sans-serf;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #e8eeed;
  --primary-color: #a2798f;
  --secondary-color: #8caba8;
  --primary-shadow: #d6d3d3;
  --secondary-shadow: #b3b3b3;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
  --color: #5b5a5a;
  /* color: var(--color); */
}

.burger-menu {
  color: var(--primary-color);
  font-size: 2rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
}

.icon {
  width: 8rem;
  height: 8rem;
}

.icon-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
  padding: 20px;
  margin: 10px;
}

.project-box {
  text-align: center;
  width: 21.875rem;
  padding: 1rem;
}
.project-box p {
  padding: 0.4rem;
}

.projects-title {
  margin-bottom: var(--bottom-margin);
}

.projects-details {
  margin-bottom: var(--bottom-margin);
}

.projects-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--primary-shadow);
  padding: 20px;
  margin: 10px;
}

/* arrow-up-animations */

@keyframes growing {
  to {
    width: 2.3rem;
    height: 2.3rem;
  }
}

   /* hero section animation */



/* skills tooltips  */

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 4rem;
  font-size: 10px;
  background-color: var(--color);
  color: var(--bg-color);
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
